%div.jumbotron
  %h2 
    Contact us!
  %h3  
    %p
      Name: Arsen Ugliar
    %p
      E-mail: arsen.ugliar@gmail.com
    %br  
    %p
      Name: Ivan Nykyforuk
    %p
      E-mail: ivan@gmail.com
    %br  
    %p
      Name: Marcin Lubanski
    %p
      E-mail: marcin@gmail.com 
    %br   
      =link_to "Start shopping!", products_path, class:"btn btn-primary btn-lg"